<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>This server is designed to hold information about the users <br>
and the projects created for the City Block app.  You can find <br>
all users by entering /users to the search bar and /projects to <br>
find all projects!  Enjoy!</p>
